@media (min-width: 45em) {

    .header-grid {
        grid-template-columns: auto auto auto;
    }

    .header-grid img {
        grid-column: 1 / 1;
        grid-row: 1/3;
        max-width: 300px;
    }


    .header-grid h1 {
        grid-column: 2 / 4;
        grid-row: 1/2;
        margin-top: auto;
        margin-bottom: auto;

    }

    .header-grid h3 {
        grid-column: 2 / 4;
        grid-row: 2/2;
        margin-top: auto;
        margin-bottom: auto;

    }


    /* main grid */
    .main-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        background-color: #e7ca8c;
        row-gap: 10px;
        column-gap: 5px;
    }


    main img:hover {box-shadow: 0 0 50px #333;}

    .hero {
        grid-column: 1/3;
        grid-row: 1/1;

    }


    .news {
        grid-column: 1/3;
        grid-row: 2;

    }

    .spotlight_1 {
        grid-column: 1/2;
        grid-row: 3;

    }

    .spotlight_2 {
        grid-column: 2/3;
        grid-row: 3;

    }

    .join {
        grid-column: 1/3;
        grid-row: 4;
        display: block;
    }

    .event {
        grid-column: 1/2;
        grid-row: 5;

    }

    .weather {
        grid-column: 2/3;
        grid-row: 5;

    }

    .spotlight_3 {
        display: none;
    }

    /* discover grid */
    

    .left-swing,.right-swing{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .left-swing img{
        grid-column: 1/2;
        grid-row: 1/3;
    }
    .left-swing p, .left-swing h2{
        grid-column: 2/3;
        grid-row: 1/3;
    }
    .left-swing p{
        margin-top: 70px;
    }
    
    
    .right-swing img{
        grid-column: 2/3;
        grid-row: 1/3;
    }
    .right-swing p, .right-swing h2{
        grid-column: 1/2;
        grid-row: 1/3;
    }
    .right-swing p{
        margin-top: 70px;
    }

    .pictureswing-grid div picture,
    h2,
    p,
    picture img {
        max-width: 100%;
        max-height: 100%;
    }

    /* Responsive navigation */
    nav {
        flex-direction: row;
    }

    .navigation {
        display: flex;
    }

    .navigation li {
        display: block;
        flex: 1 1 auto;
    }

    .navigation a {
        text-align: center;
        font-size: 1.1rem;
    }

    .navigation li:first-child {
        display: none;
    }


}